* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.bg-focus {
  background-color: rgb(241, 241, 181);
}

input[type=text] {
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.todos-container {
  margin: auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.49);
}

.todos-container h1 {
  width: 100%;
  padding: 0.5em;
}

.line-through {
  text-decoration: line-through;
  color: #808080;
}

.todos-list {
  list-style: none;
  width: 100%;
}

.todo-item {
  display: flex;
  padding: 1em;
  border-bottom: 2px solid lightgray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-item-left {
  display: flex;
  width: 100%;
  flex: 2;
}

.todo-item > span {
  cursor: pointer;
  color: lightgray;
}

.todo-item-left > .checkbox {
  margin: 0 1em 0 0;
}

.todo-input {
  height: 100%;
  padding: 0.5em 0;
  width: 100%;
  border: none;
  outline: none;
}

.todo-input:active {
  border: none;
  outline: none;
}

.clear-list {
  padding: 1em;
  align-self: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
